[mysqld]
collation-server=utf8_general_ci
init-connect='SET NAMES utf8'
user=mysql
character-set-server=utf8
default_authentication_plugin=mysql_native_password
max_connections=3000
sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES
[client]
default-character-set=utf8
[mysql]
default-character-set=utf8#