<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzg.wlxx.system.mapper.TDictMapper">

    <resultMap id="BaseResultMap" type="com.xzg.wlxx.system.client.entity.TDict">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="creator" column="creator" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updater" column="updater" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="dictCode" column="dict_code" jdbcType="VARCHAR"/>
            <result property="dictName" column="dict_name" jdbcType="VARCHAR"/>
            <result property="level" column="level" jdbcType="INTEGER"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,creator,create_time,
        updater,update_time,dict_code,
        dict_name,level,description
    </sql>
</mapper>
